annotated-types

anyio

certifi

click

distro

exceptiongroup

fastapi

h11

httpcore

httpx

idna

jiter

packaging

pdf2image

pillow

pydantic

pydantic-core

pytesseract

sniffio

starlette

tqdm

typing-extensions

uvicorn

aiohappyeyeballs

aiohttp

aiosignal

async-timeout

attrs

charset-normalizer

frozenlist

multidict

openai

propcache

requests

urllib3

yarl

numpy

opencv-python

regex

tiktoken


